<?xml version="1.0" encoding="UTF-8"?>
<beans:beans
	xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/security
		http://www.springframework.org/schema/security/spring-security-3.2.xsd">
	
	<http auto-config="true">
		<intercept-url pattern="/admin/**"
			access="ROLE_ADMINISTRADOR" />
		<intercept-url pattern="/restrito/**"
			access="ROLE_USUARIO" />
		<form-login login-page="/publico/login.jsf"
			always-use-default-target="true"
			default-target-url="/restrito/principal.jsf"
			authentication-success-handler-ref="loginSuccess"
			authentication-failure-handler-ref="loginFailure"
			authentication-failure-url="/publico/login.jsf?login_error=1" />
		<logout />
		<remember-me />
	</http>
	<beans:bean id="bCryptPasswordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder" />
	<beans:bean id="loginSuccess" class="br.com.javaparaweb.medprice.util.log.MySuccessHandler"/>
	<beans:bean id="loginFailure" class="br.com.javaparaweb.medprice.util.log.MyFailureHandler"/>
	<authentication-manager>
		<authentication-provider>
			<jdbc-user-service
				data-source-ref="medpriceDataSource"
				authorities-by-username-query="SELECT u.email, p.permissao 
																	FROM usuario u, usuario_permissao p 
																	WHERE u.id_usuario = p.usuario AND u.email = ?"
				users-by-username-query="SELECT email, senha, ativo FROM usuario WHERE email = ?" />

			<password-encoder ref="bCryptPasswordEncoder" />
		</authentication-provider>

	</authentication-manager>
</beans:beans>