@charset "ISO-8859-1";

.box-med {
	width: 300px;
	height: 210px;
	padding: 20px;
	background-color: #ffff;
}

.box-med>p {
	font-size: 10px;
	color: grey;
}

/*header medicamento*/
.header-med {
	display: block;
	margin: 0;
	padding: 0;
}

.header-med a{
	float:rigth;
}
.header-med a img{
	width:30px;
}

.header-med h3 {
	padding: 0;
	margin: 0;
	color: #336699;
}

.header-med h5 {
	padding: 0;
	margin: 0;
}

/*corpo medicamento*/
.body-med {
	color: grey;
}

.apresentacao {
	max-width: 40ch;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/*footer medicamento*/
.footer-med {
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer-med strong {
	color: #009933;
}

.footer-med strong spam {
	color: grey;
	font-size: 10px;
	font-weight: regular;
}

.tarja {
	width: 25%;
	float: right;
}

/*"comentarios (x)" no card*/
.text-com {
	font-size: 14px;
	color: grey;
}

.link-card {
	text-decoration: none;
}


.btn-med:focus {
	box-shadow: 0 0 0 0;
	outline: 0;
}

.btn-med:hover {
	color: #08401A;
}
.btn-med{
	border:0 !important;
	width: 90px !important;
	background: none important;
	color: #009933 !important;
	border: 0;
	font-size: 12px !important;
	float: right;
	cursor: pointer;
}
.btn-med:hover{
	color: #08401A !important;
	}