.content-det {
	display: flex;
	min-width: 100%; 
	justify-content: space-between;	
}

.med-det {
	min-width: 50%;
	margin: 0;
	padding: 0;
	padding-top: 15px;
	padding-left: 25px;
}

.med-img{
	min-width: 50%;
	padding-top: 10px;
	display: flex;
	justify-content: center;
	align-items:center;
}
.med-img  img{
	max-width:320px;
}

.med-det h2, #subs {
	color: #336699;
	margin-block-end: 0.1em;
	
}

.med-det h4 {
	color: #000000;
	margin-block-start: 0.1em;
	margin-block-end: 0.2em;  
}

#lab {
	color: #009933;

}

#apres {
	color: #696969;
}

.med-det p {
	color: #a9a9a9;
	margin-left: 5px;
}

.med-det strong {
	color: #009933;
	font-size: 16px;
	vertical-align: middle;
}

.med-det .tarja-det {
	margin-left: 5px;
	margin-top: 15px;
	width: 20%;
}

.tabela {
	font-size: 12px;
	text-align: center;
	border-width: 5px;
	border-collapse: collapse;
	color: #696969;
	margin-top: 20px;
	margin-bottom: 10px;
	margin-left: 5px;
}

.tabela th{
	background-color: #336699;
	color: #FFFFFF;
}
tr.border_top td {
  border-top: 2px solid  #336699;
}

.content-com {
	width: 60%;
}

.campo-com{
	width:100%;
	display:flex;
	justify-content:space-around;
	align-items:center;
}

