@charset "ISO-8859-1";

@import url(/medprice/javax.faces.resource/cardmed.css.jsf?ln=css);

@import url(/medprice/javax.faces.resource/home.css.jsf?ln=css);

@import url(/medprice/javax.faces.resource/medicamento.css.jsf?ln=css);

@import url(/medprice/javax.faces.resource/detalhe.css.jsf?ln=css);

@import url(/medprice/javax.faces.resource/cardcom.css.jsf?ln=css);

@import url(/medprice/javax.faces.resource/cadastro.css.jsf?ln=css);

@import url(/medprice/javax.faces.resource/login.css.jsf?ln=css);

@import url(/medprice/javax.faces.resource/perfil.css.jsf?ln=css);

@import url(/medprice/javax.faces.resource/recupera.css.jsf?ln=css);
@import url(/medprice/javax.faces.resource/ajuda.css.jsf?ln=css);


body {
	font-family: Roboto, Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 0;
	padding: 0;
	background-color: #EFF8F2;
}

header {
	margin: 0;
	background-color: #ffff;
	padding: 10px 5px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#menu ul {
	width: 400px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	list-style-type: none;
}

#menu a {
	text-decoration: none;
	color: #009933;
	font-size: 14px;
	font-weight: bold;
}

#menu a:hover {
	color: #08401A;
}

footer {
	background-color: #336699;
	width: 100%;
	height: 70px;
	display: flex;
	align-items: center;
	margin: 0 auto;
}

footer p {
	font-weight: bold;
	color: #ffff;
	margin: 0 auto;
}

.content-grafico {
	margin: 0 auto;
	width: 80%;
	display: blok;
}

.graf {
	width: 100%;
	display: flex;
	justify-content: center;
}
.content-grafico h1{
	color:#336699;
	text-align:center;
}

.info {
	font-weight: bold;
	color: green;
}

.warn {
	font-weight: bold;
	color: #FFCC00;
}

.fatal, .error {
	font-weight: bold;
	color: red;
}

.card {
	box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.25);
}

.box {
	width: 90%;
	margin: 10px auto;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ffff;
}

.btn-conta {
	background-color: #336699;
	color: #336699;
	border: 0;
}

.ui-dialog {
	width: 500px;
}

.ui-dialog .botoes {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.ui-dialog .botoes .entrar, .nav-conta {
	width: 40%;
	background-color: #009933 !important;
	border-radius: 4px;
	height: 30px;
	color: #fff !important;
	text-decoration: none;
	font-weight: bold;
	font-size: 12px;
	display: flex;
	align-items: center;
	justify-content: center
}

.ui-dialog .botoes .cadastrar, .nav-sair {
	width: 55%;
	background-color: #336699;
	border-radius: 4px;
	height: 30px;
	color: #fff !important;
	text-decoration: none;
	font-weight: bold;
	font-size: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
}

.ui-dialog .botoes .cadastrar:hover {
	background-color: #1F4C79;
}

.ui-dialog .botoes .entrar:hover, .nav-conta:hover {
	background-color: #007B29 !important;
}

.ui-dialog .botoes .nav-sair, .nav-conta {
	width: 45% !important;
	background-color: #cc0000;
	cursor: pointer;
}

.ui-dialog .botoes .nav-sair:hover {
	background-color: #8B0000;
}