@charset "ISO-8859-1";

.texto-home{
	padding:20px;
	width:50%;
}

.texto-home h2{
	color:#009933;
}
.texto-home h1{
	color:#336699;
}
.texto-home .user{
	color:#009933;
	font-size:18px;
}



.texto-home p{
	font-size:14px;
	color:#666B71;
}

.image-home{
	width:50%;
	padding:20px;
}
.image-home img{
	width:100%;
}
.meds-home{
	padding:0 15px;
	width:100%
}
.meds-home > h2{
	color:#009933;
}

.meds-home a {
	float:right;
	color:#009933;
}