.content-login {
	display: flex;
	width: 70%; 
	justify-content: space-around;
}

.div-login {
	width: 50%;
	margin: 0;
	padding: 0;
}

.title-login {
	color: #336699;
	font-size: 18px;
	font-weight: bold;
	margin-block-end: 0.1em;
}

.form-login {
	justify-content: space-between;
	text-align: center;
}

.form-login p{
	text-align: left;
	margin-left: 40px; /*alinhar com os input (centralizados)*/
	margin-block-end: 0.2em;
	color: #616161;
}

.check-login {
	width: 15px;
}

.botoes-login input {
	background-color: #009933;
	color: #FFFFFF;
	font-weight: bold;
	border-radius: 4px;
	line-height: 30px;
	width: 100px;
	text-decoration: none;
	text-align: center;
	border: 1px solid #18ab29;
}

.botoes-login input:hover {
	background-color: #44c767;
}

.botoes-login a, .botoes-extras-login a{
	color: #336699;
	text-decoration: none;
	font-weight: bold;
	font-size: 12px;
	margin-left: 10px;
}

.botoes-login {
	text-align: center;
	margin-top: 10px;
}

.botoes-extras-login{
	text-align: center;
	margin-top: 15px;
}
