/*CUSTOMIZAÇÃO DO DATAGRID DE MEDICAMENTOS*/
#form-meds {
	display: flex;
	justify-content: center;
}

#form-meds .ui-widget-header {
	background: none repeat scroll 0 0 #FFFFFF !important;
	border: 0;
}

.ui-paginator-page {
	background: none repeat scroll 0 0 #FFFFFF !important;
}

.ui-state-default {
	background: none repeat scroll 0 0 #FFFFFF !important;
}

.ui-datagrid-content {
	border: 0;
	justify-content: space-around;
}
